django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
psycopg2-binary
dj-database-url
celery
redis
python-dotenv
drf-spectacular
openai
jinja2
jieba
python-docx
channels
channels-redis
daphne

